<form action="/gossips" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="...">

  <div>
    <label for="gossip_title">Title</label><br>
    <input type="text" name="gossip[title]" id="gossip_title">
  </div>

  <div>
    <label for="gossip_body">Body</label><br>
    <textarea name="gossip[body]" id="gossip_body"></textarea>
  </div>

  <div>
    <input type="submit" name="commit" value="Create Gossip" data-disable-with="Create Gossip">
  </div>
</form>
