<h1 class="mb-5">Bienvenue sur The Hacking Gossip</h1>
<p><a href="<%= new_gossip_path %>">Créer un nouveau gossip</a></p>

 <div class="container">
     <ul>
     <li>
     <% @gossips.each do |gossip| %>
     <%= gossip.title %>   
    <%= gossip.content %></li>
         
         
 
 <% end %>
 </ul>
</div>

 

