<!DOCTYPE html>
<html>
 <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>GossipProjectCorrection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 </head>
<body>
 <header>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Gossip Project</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/login" role="button">
    Login
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/signup" role="button">
      Sign Up
      </a>
    </div>
  </form>
</nav>
</header>
  <%= yield %>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 </body>
</html>




   